// less-loader 打包时通过additionalData引入
html[data-theme="dark"]:root {
  --ai-main-color: 231, 227, 252;

  --ai-primarycolor: red;
  --ai-bgcolor: #415fff;

  --ai-primary: #804bdf;
  --ai-secondary: #777b82;
  --ai-success: #777b82;
  --ai-error: #e04347;
  --ai-warning: #e09e00;
  --ai-info: #139ce0;

  --ai-text-primary: rgba(var(--ai-main-color), 0.97);
  --ai-text-secondary: rgba(var(--ai-main-color), 0.68);
  --ai-text-disabled: rgba(var(--ai-main-color), 0.38);

  --ai-background-paper: #312d4b;
  --ai-background-default: #28243d;

  --ai-action-active: rgba(var(--ai-main-color), 0.54);
  --ai-action-hover: rgba(var(--ai-main-color), 0.04);
  --ai-action-selected: rgba(var(--ai-main-color), 0.08);
  --ai-action-disabled: rgba(var(--ai-main-color), 0.03);
  --ai-action-disabledBackground: rgba(var(--ai-main-color), 0.18);
  --ai-action-focus: rgba(var(--ai-main-color), 0.12);
}
