// less-loader 打包时通过additionalData引入
html[data-theme="dark"]:root {
  --main-color: 58, 53, 65;

  --primarycolor: red;
  --bgcolor: #415fff;

  --primary: #804bdf;
  --secondary: #777b82;
  --success: #777b82;
  --error: #e04347;
  --warning: #e09e00;
  --info: #139ce0;

  --text-primary: rgba(var(--main-color), 0.87);
  --text-secondary: rgba(var(--main-color), 0.68);
  --text-disabled: rgba(var(--main-color), 0.38);

  --background-paper: #312d4b;
  --background-default: #28243d;

  --action-active: rgba(var(--main-color), 0.54);
  --action-hover: rgba(var(--main-color), 0.04);
  --action-selected: rgba(var(--main-color), 0.08);
  --action-disabled: rgba(var(--main-color), 0.03);
  --action-disabledBackground: rgba(var(--main-color), 0.18);
  --action-focus: rgba(var(--main-color), 0.12);
}
