// less-loader 打包时通过additionalData引入

html[data-theme="light"]:root {

  --ai-primary: #9e69fd;
  --ai-secondary: #9c9fa4;
  --ai-success: #6ad01f;
  --ai-error: #ff6166;
  --ai-warning: #ffca64;
  --ai-info: #32baff;

  --ai-background-default: var(--color-light-1);
  --ai-background-paper: var(--color-light-2);
  --ai-background-ui: var(--color-light-3);
  --ai-background-hover: var(--color-light-4);
  --ai-background-active: var(--color-light-5);

  --ai-border-main: var(--color-light-6);
  --ai-border-active: var(--color-light-7);
  --ai-border-hover: var(--color-light-8);

  --ai-action-main: var(--color-light-9);
  --ai-action-hover: var(--color-light-10);

  --ai-text-low: var(--color-light-11);
  --ai-text-high: var(--color-light-12);

  --ai-text-primary: var(--ai-text-high);
  --ai-text-secondary: var(--ai-text-low);
  --ai-text-disabled: rgba(var(--ai-text-high), 0.38);
}
